<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media</title>

    <!-- {% load static%}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

-->
<link rel="stylesheet" href="/static/vender/css/bootstrap.min.css">
<script src="/static/vender/jquery-3.3.1.min.js"></script>

<script src="/static/vender/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
<body>
    <h1 id="myhead1">Social Media</h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"href="/social/home/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/social/about/">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/social/contact/">Contact</a>
            </li>
             

            {%if user.is_authenticated%}
            <li class="nav-item">
                <a class="nav-link" href="/social/logout">Logout</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/social/mypost/">My Post</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/social/myprofile/">Profiles</a>
              </li>

              {%else %}

              <li class="nav-item">
                <a class="nav-link" href="/social/login/">Login</a>
              </li>
                {% endif %}


                {%if user.is_superuser%}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                  </li>
                {% else %}
                    {%if user.is_authenticated%}
                    <li class="nav-item">
                        <a class="nav-link"  href="/social/profile/edit/{{ user.myprofile.id }}">MyProfile and Update</a>
                      </li>
                {% endif %}
                {% endif %}

                
                

            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>





{%block content%}
{%endblock%}




<footer>
  <br>
  <br>
  <p>Copyright@Social Media</p>
</footer>

</body>
</html>